@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "mantinia";
    src: url("./assets/fonts/mantinia_regular.otf");
}

@layer components {
    .menu-mobile--active {
        @apply px-4 py-2 rounded-md bg-yellow-800;
    }

    .menu-mobile--inactive {
        @apply px-4 py-2;
    }

    .menu-desktop--active {
        @apply text-neutral-100 pb-1 border-b-2 rounded-md border-yellow-800;
    }

    .menu-desktop--inactive {
        @apply text-neutral-400;
    }
}

body {
    background-color: rgb(37, 37, 37);
}

/* Hamburguer Menu */

.hamburguer {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.15s;
    position: relative;
}

.hamburguer-top,
.hamburguer-middle,
.hamburguer-bottom {
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #FFF;
    transform: rotate(0);
    transition: all 0.3s;
}

.hamburguer-middle {
    transform: translateY(8px);
}

.hamburguer-bottom {
    transform: translateY(16px);
}

.hamburguer--active {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.hamburguer--active .hamburguer-top {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburguer--active .hamburguer-middle {
    display: none;
}

.hamburguer--active .hamburguer-bottom {
    transform: rotate(-45deg) translate(-6px, 6px);
}